@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #fad089b4, #ff9d5bb9);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9e60369f; 
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #b16e2fde;
    text-align: center;
    text-shadow: 1px 1px 2px #b16e2fbe;

}

h2 {
    color: #2B696B;

}

p {
    text-align: justify;
}